spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: jenkins-log-collector
          uri: lb://jenkins-log-collector
          predicates:
            - Path=/api/jenkins-logs/**
          filters:
            - RemoveRequestHeader=Forwarded

        - id: LogAnalyser
          uri: lb://LogAnalyser
          predicates:
            - Path=/api/**
          filters:
            - RemoveRequestHeader=Forwarded

server:
  port: 8095
  max-http-header-size: 131072

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    hostname: localhost
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
    health:
      enabled: true
