server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: log-collector
          uri: lb://log-collector
          predicates:
            - Path=/log-collector/**
          filters:
            - StripPrefix=1
        
        - id: log-analyser
          uri: lb://log-analyser
          predicates:
            - Path=/log-analyser/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
